/* universal reseting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* hero img and navigation */
.header{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.3)), url("../img/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navigation links */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo{
  width: 140px;
  cursor: pointer;
}

.links li{
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.links li a{
  text-decoration: none;
  color: white;
}

.signup-btn{
  background: #F9C06A;
  color: black;
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  color: #1E1E1E;
  text-transform: uppercase;
}

.header p, h1{
  font-size: 2vw;
  font-weight: 500;
  color: white;
  padding: 10px 0;
}

.order-now{
  background: #F9C06A;
  color: black;
  padding: 20px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  color: #1E1E1E;
}

.signup-btn:hover{
  background-color: #f9c06a9f;
}


.order-now{
  padding: 20px 40px;
  display: inline-block;
}

.order-now:hover{
  background-color: #f9c06a9f;
}

/* discover */
.discover{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Discover The Best Coffe image */
.right-col{
  flex-basis: 25% ;
}

.right-col img{
  width: 350px;
}

/* Discover The Best Coffe section */

.left-col {
  flex-basis: 70%;
}


.left-col{
  padding: 10px 20px;
}

.left-col h2{
  margin: 50px 0;
  color: #442808;
  font-size: 50px;
}

.left-col p{
  width: 50%;
}

.learn-more{
  background: #F9C06A;
  color: black;
  padding: 20px 40px;
  margin: 10px 0;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  color: #1E1E1E;
  display: inline-block;
}

/* why we are different */

.container h2{
  text-align: center ;
  font-size: 40px;
  color: #442808;
  padding: 10px;
}

.we-make-your-coffe{
  text-align: center;
}

.container .supreme-bean {
  margin: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.supreme-bean div img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.supreme-bean h2{
  font-size: 14px;
}